parameters:
	level: max
	reportUnmatchedIgnoredErrors: false
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
	excludePaths:
		- */node_modules/*
		- */tests/*
		- */bin/*
		- */images/*
		- */js/*
		- */vendor/*
		- */deprecated/*
		- views/*
	ignoreErrors:
		- '#no type specified#'
		- '#Only booleans are allowed in an if condition, (.)* given.#'
		- '#Only booleans are allowed in a negated boolean, (.)* given#'
		- '#Access to an undefined property#'
		- '#Constant (.)* not found.#'
		- '#has parameter \$request with generic class WP_REST_Request but does not specify its types: T#'
		- '#Construct empty\(\) is not allowed. Use more strict comparison#'
		- '#return type has no value type specified in iterable type array#'
		- '#Cannot access property#'
		- '#Static method CoolKidsNetwork\\Controllers\\Forms_Controller::get_signup_page_slug\(\) is unused.#'
		- 'Method CoolKidsNetwork\\Controllers\\Forms_Controller::get_signup_page_slug\(\) should return string but returns mixed#'